{
  "machine": {
    "gpu": 1,
    "cpu": 8000,
    "ram": 16384
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
          "/bin/sh",
          "-c",
          "nvidia-smi"
        ],
        "Image": "nvcr.io/nvidia/cuda:11.6.2-base-ubuntu20.04"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": {{if .GPU}}{{.GPU}}{{else}}"1"{{ end }}
      },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}